extends layout

block content
  h1 #{user.name} (#{user.location})
  h2 Events (#{user.events.length})

  each event in user.events
    h3 #{event.name}
    //- if photo.likedBy.length == 0
    //-   p no likes yet!
    //- else
    //-   p #{photo.likedBy.join(', ')}
